<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<div class="container">
  <br/>
  <div class="row">
      <label class="control-label col-md-2 col-sm-6" style="padding :10px">Task: </label>
      <div class="col-md-4">
        <input type="text"  class="form-control" [(ngModel)]="iteam.TaskName">
      </div>
  </div>
  <div class="row">
      <label class="control-label col-md-2 col-sm-6" style="padding :10px">Priority: </label>
      <div class="col-md-4">
        <input type="range"  class="form-control" [(ngModel)]="iteam.Priority" min="1" value="15" max="50">
      </div>
  </div>
  <div class="row">
      <label class="control-label col-md-2 col-sm-6" style="padding :10px">Parent: </label>
      <div class="col-md-4">
        <select id="task" name="Task" [(ngModel)]="iteam.ParantId" class="form-control">
           <option *ngFor="let t of taskIteam" [ngValue]="t.TaskId" >{{t.TaskName}}</option>
        </select>
      </div>
  </div>
  <div class="row">
      <label class="control-label col-md-2 col-sm-6" style="padding :10px">StartDate: </label>
      <div class="col-md-4">
        <input type="date"  class="form-control" [(ngModel)]="iteam.StartDate" >
      </div>
  </div>
  <div class="row">
      <label class="control-label col-md-2 col-sm-6" style="padding :10px">EndDate: </label>
      <div class="col-md-4">
        <input type="date" class="form-control" [(ngModel)]="iteam.EndDate" >
      </div>
  </div>
  <div class="row">
    <div class="col-md-4" >
      <button  type="submit" class="btn btn-default" (click)='Add(iteam)' > AddTask</button>
      <button  type="submit" class="btn btn-default" (click)='Reset()'  style="margin :10px" > ReSet</button>
    </div>
</div>
</div>
</html>



