<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink ="/addTask" routerLinkActive ="active">
      Add Task
    </a>
    <a routerLink ="/viewTask"  style="padding :10px" >
        View Task
    </a>
  </nav>
</div>
<div>
 <router-outlet></router-outlet>
</div>
