<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
<div class="container">
    <br/>
    <div class="table-responsive">             
   <table>
     <tr>
       <td>
         <label class="control-label"style="padding :7px">Task</label>
       </td>
       <td>
         <input type ="text" class="form-control"  [(ngModel)]="nameSearch"/>
       </td>
       <td>
        <label class="control-label"style="padding :7px">Parent</label>
      </td>
      <td>
        <input type ="text"  class="form-control" [(ngModel)]="parentTaskSearch"/>
      </td>
     </tr>
     <tr>
      <td>
        <label class="control-label"style="padding :7px" >PriorityFrom</label>
      </td>
      <td>
        <input type ="text" class="form-control"[(ngModel)]="priorityFromSearch" />
      </td>
      <td>
       <label class="control-label"style="padding :7px">PriorityTo</label>
     </td>
     <td>
       <input type ="text"  class="form-control" [(ngModel)]="priorityToSearch"/>
     </td>
     <td>
      <label class="control-label"style="padding :5px">StartDate</label>
    </td>
    <td>
      <input type ="text" class="form-control" [(ngModel)]="startDateSearch" />
    </td>
    <td>
     <label class="control-label"style="padding :7px">EndDate</label>
   </td>
   <td>
     <input type ="text"  class="form-control" [(ngModel)]="endDateSearch"/>
   </td>
    </tr>
   </table>
  </div>
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>StartDate</th>
            <th>EndDate</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let taskIteam of ListofTasks|grdFilter:nameSearch:parentTaskSearch:priorityFromSearch:priorityToSearch:startDateSearch:endDateSearch">
            <td>{{taskIteam.TaskName}}</td>
            <td>{{taskIteam.ParantId}}</td>
            <td>{{taskIteam.Priority}}</td>
            <td>{{taskIteam.StartDateString}}</td>
            <td>{{taskIteam.EndDateString}}</td>
            <td>
                <button 
                type="button" 
                class="btn btn-success"
               [routerLink]="['/UpdateTask/',taskIteam.TaskId]" routerLinkActive="active">Edit</button>
            <td><button type ="submit"  class="btn btn-success"   (click)='EndTask(taskIteam.TaskId)'>End</button></td>
            <td><button type ="submit"  class="btn btn-success"  (click)='Delete(taskIteam.TaskId)'>Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>   
</html>
